[2018-06-11 18:06] hyanmandian opened #2 "Improve documentation"

[2018-06-11 18:07] hyanmandian opened #3 "Improve tests"

[2018-06-11 18:07] hyanmandian opened #4 "Add CPF generator"

[2018-06-11 18:07] hyanmandian opened #5 "Add CNPJ generator"

[2018-06-11 18:45] PatriciaDurand opened #6 "Add boleto validation"

[2018-06-11 21:31] hyanmandian opened #7 "Add eslint"

[2018-06-11 21:32] hyanmandian opened #8 "Add prettier"

[2018-06-13 13:28] hyanmandian commented on #7
#10

[2018-06-13 13:29] #3 closed

[2018-06-13 13:29] hyanmandian commented on #3
Solved by #9

[2018-06-13 13:30] #2 closed

[2018-06-13 14:05] hyanmandian opened #11 "Code formatter"
Maybe use prettier integrated with eslint for that?

[2018-06-13 14:05] #8 closed

[2018-06-13 14:06] hyanmandian commented on #8
Moved to #11

[2018-06-15 16:29] #11 closed

[2018-06-19 00:20] andreoav opened #15 "Create gh-pages branch"

[2018-06-19 13:27] hyanmandian opened #16 "Add phone validation"

[2018-06-19 13:28] hyanmandian opened #17 "Add CEP validation"

[2018-06-20 03:37] lucassveloso opened #19 "Add CPF mask"

[2018-06-20 03:38] lucassveloso opened #20 "Add CNPJ mask"

[2018-06-24 02:41] #20 closed

[2018-06-24 02:41] #19 closed

[2018-07-14 11:59] luiscoms commented on #17
Just the format?

    999999-999

[2018-07-14 13:57] hyanmandian commented on #17
Yes, but I think that you should handle with or without mask like other pakages

[2018-07-14 14:01] luiscoms commented on #17
I guess that we could use this project for example

https://github.com/luiscoms/jquery.maskedinput

[2018-07-15 15:58] hyanmandian commented on #17
Actually, the idea is basically to check if the CEP is valid

[2018-08-20 16:45] mikaelhadler opened #23 "CONTRIBUTING.md not have information how to create a new package"
**Is your feature request related to a problem? Please describe it.**
I fork this project, but, i don't see any information how to create a new package with a correct structure.

**Describe the solution you'd like**
Just incrise information in CONTRIBUTING.md how to create a correct structure.

[2018-08-30 20:45] rodineijf commented on #6
Maybe this can help: https://cmsportal.febraban.org.br/Arquivos/documentos/PDF/Layout%20-%20C%C3%B3digo%20de%20Barras%20-%20Vers%C3%A3o%205%20-%2001_08_2016.pdf

[2018-08-31 11:58] mikaelhadler commented on #6
Hey @PatriciaDurand do you have a description for this task? I need more information for work in this item.

[2018-08-31 11:59] mikaelhadler commented on #17
@hyanmandian this issue it's closed no ?

[2018-08-31 12:13] rodineijf commented on #6
Hi @mikaelhadler i'm already started this. Only don't know how to push this card to "in progress';

[2018-08-31 14:52] hyanmandian commented on #17
@mikaelhadler yes, thanks!

[2018-08-31 14:52] #17 closed

[2018-08-31 14:52] #4 closed

[2018-09-13 15:14] emersonlaurentino commented on #16
would be with `dialing code` of the country and state? plus the digit 9?

examples: `+55 11 9 1122-3344`

[2018-09-13 17:18] hyanmandian commented on #16
I think that for brazilian we just need to check the length, like this one https://github.com/brazilian-utils/brazilian-utils/tree/master/packages/is-valid-cep

[2018-09-13 21:20] emersonlaurentino commented on #16
I did an implementation, I'll send a PR.

[2018-09-13 21:34] emersonlaurentino opened #28 "Add "Processo" validation"
check if `NNNNNNN-DD.AAAA.JTR.OOOO` is valid.

ref: [CNJ unifica numeração de processos em todo o país](https://www.conjur.com.br/2009-jan-23/cnj-define-padrao-numeracao-processos-todos-tribunais)

[2018-09-14 17:41] hyanmandian opened #29 "Type definitions"

[2018-09-17 20:15] emersonlaurentino commented on #16
@hyanmandian can u make a review in #27?

[2018-09-19 05:57] hyanmandian commented on #16
Yes man! Sorry for the delay :( I think that @lucassveloso can check this and publish your package

[2018-09-19 06:02] #16 closed

[2018-09-19 13:48] emersonlaurentino commented on #6
Can this issue be closed? once resolved at #26

[2018-09-19 16:39] lucassveloso commented on #6
Closed by #26

[2018-09-19 16:39] #6 closed

[2018-09-19 20:44] hyanmandian commented on #29
Maybe we can use just type definitions to avoid rewriting all packages... What do you think about it?

[2018-09-20 02:32] andreoav commented on #29
Our packages are small pieces of code.

Rewrting them with Typescript is not a bad idea.

[2018-09-20 02:43] andreoav commented on #23
I'll take some time to improve our CONTRIBUTING.md file.

;)

[2018-09-21 13:15] VitorLuizC commented on #29
@aputhin will you rewrite all packages or we can do it one by one? Either way, I would like to help you with it.

[2018-10-29 14:07] #5 closed

[2018-10-31 11:31] vhfmag commented on #29
Tentei minha sorte com essa issue :grimacing:

[2018-10-31 12:49] vhfmag commented on #29
I tried my luck with the Typescript rewrite in #33. Hope it helps!

[2018-11-01 16:56] #29 closed

[2018-12-20 09:45] lazaroalvarenga commented on #28
Posso ajudar nesta issue? =)

[2019-02-22 20:12] matheusgrieger commented on #29
Can someone help? Even though the whole project is written in TS, when importing a specific package (such as `@brazilian-utils/is-valid-cpf`), the compiler still complains about not finding a type definitions file. Do I need to do something else than just installing and importing?

Thanks for the amazing work!

[2019-02-22 20:17] vhfmag commented on #29
I'm taking a look at it, @matheusgrieger. We're probably either not generating the definitions file or not pointing to it from package.json.

[2019-02-22 20:19] vhfmag commented on #29
As it turns out, both :neutral_face:

[2019-02-22 21:01] vhfmag commented on #29
I will be looking at it tomorrow and will send a PR

[2019-02-25 10:59] vhfmag opened #37 "Packages do not expose their type definitions"
**Describe the bug**
Even though this project now uses Typescript, its packages do not expose their type definitions. This has been pointed by @matheusgrieger in https://github.com/brazilian-utils/brazilian-utils/issues/29#issuecomment-466531401.

As an example, see the [dist folder for `is-valid-cpf@0.1.11`](https://unpkg.com/@brazilian-utils/is-valid-cpf@0.1.11/dist/), which does not include a `

[2019-02-25 11:04] vhfmag commented on #29
@matheusgrieger, see #37 and #38

[2019-02-25 11:43] matheusgrieger commented on #29
@vhfmag thanks a lot for that!

[2019-02-28 13:05] #37 closed

[2019-03-22 15:06] machado-r opened #39 "CPF with letters pass validation"
**Describe the bug**
I'm not exactly sure if this is expected behaviour or a bug, but if I try to validade a CPF string with letters in it, the validator returns true IF the numbers match a valid CPF.

**To Reproduce**
[code]

While it seems nice that isValidCpf() get only the number types, I think this could lead to problems. I don't know, maybe I should use the /helper-only-numbers as well?

**E

[2019-03-28 22:27] rochapablo opened #40 "Could not find a declaration file for module"
**Describe the bug**

[code]

Same with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install @brazilian-utils/is-valid-cpf --save`
2. `import isValidCpf from '@brazilian-utils/is-valid-cpf';`
3. See error

**Expected behavior**
It should import with no problem

[2019-03-29 09:28] vhfmag commented on #40
It seems there hasn't been a deploy since #38. I thought there would have been a `types` field in `package.json` pointing to a file that didn't exist, but the field itself is missing (https://unpkg.com/@brazilian-utils/is-valid-cnpj/package.json). Any idea of what happened? @hyanmandian @andreoav

[2019-04-01 18:17] felipediogo commented on #28
#41 esse PR tem o format dos processos juridicos, vou finalizar depois a validação do mesmo.

[2019-04-03 13:18] hyanmandian commented on #39
Hello @machado-r, good point... I think that the correct behavior is returning false when you send some letters with the cpf, but internally we remove the letters and work only with numbers, because of that, we return true in your case.

I know that the solution proposed by #42 solve that problem, but with this change, we will change our current behavior and add break changes in that package. @and

[2019-04-03 16:00] hyanmandian commented on #40
I really don't know what happened :( but @andreoav started to rewrite the architecture ( #36) and this problem probably will solve with that rewrite.

[2019-05-07 23:52] pedroSoaresll commented on #40
try delete your node_modules folder and reinstall. to me worked normally. strange :/

[2019-05-07 23:55] pedroSoaresll commented on #40
hmm if you are using with typescript, i don't know if this library have a @types, configure your tsconfig.json to allow pass libraries without @types defined

[2019-05-13 12:26] #39 closed

[2019-05-13 12:34] hyanmandian commented on #40
we started working in refactoring of the entire project to solve issues like that, maybe in the next weeks we'll finish

[2019-05-13 12:37] pedroSoaresll commented on #40
Hey @hyanmandian, how do you think to solve this problem?

[2019-05-14 16:35] hyanmandian commented on #40
Just adding types property on package.json. Probably before I starting the refactoring of the entire project, I will publish a new version of each package with types

[2019-05-22 21:01] AnderLuiz opened #48 "publish @brazilian-utils/generate-cnpj"
The package @brazilian-utils/generate-cnpj is not published at npmjs. Are there any plans to publish this?

[2019-05-24 17:36] hyanmandian commented on #48
yes, I'm working in the refactoring of the entire library with @andreoav and we will publish the new packages asap

[2019-05-24 18:30] #48 closed

[2019-07-16 18:47] thebinaryfelix opened #50 "@brazilian-utils/format-boleto unavailable on NPM"
**Describe the bug**
Package format-boleto not being found on NPM to be installed on project.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install @brazilian-utils/format-boleto --save`
2. See error

**Expected behavior**
Package should be installed without problems.

**Additional context**
Package is not being found on the NPM registry.

[2019-07-16 20:24] hyanmandian commented on #50
You right, sorry for that :( we forget to publish this package. We will publish this package ASAP.

[2019-07-16 20:50] thebinaryfelix commented on #50
Thanks!

[2019-07-17 14:37] hyanmandian commented on #50
Done! Now you can use `@brazilian-utils/format-boleto`.

A little disclaimer... Now we are working on a big refactoring of the entire library and this package will split into 3 packages: `@brazilian-utils/format-boleto-bancario` that formats only boleto bancário, `@brazilian-utils/format-titulo-convenio` that formats only título and convênio and  `@brazilian-utils/format-boleto-titulo-convenio` (p

[2019-07-17 14:37] #50 closed

[2019-09-07 15:36] felixltda opened #51 "Boleto Python."
Olá Pessoal, primeiramente, peço desculpas pela minha pergunta fugir do contexto deste projeto. Mas gostaria de saber se alguém que está aqui tem interesse em desenvolver uma lib para extração de dados de boletos bancários em python. Eu vejo uma certa limitação no javascript, pelo fato dele funcionar apenas na página web. Pretendo desenvolver uma lib que funcione ao lado do servidor, para tornar p

[2019-09-07 22:53] ramonornela opened #52 "Publish all packages .d.ts (Typescript)"
Is there any roadmap to publishing?

[2019-09-08 21:50] hyanmandian commented on #52
Yes! In this issue #40 , we explain our plan to fix that.

[2019-09-08 21:50] #52 closed

[2019-09-17 02:03] #51 closed

[2019-10-25 13:03] renatoagds opened #55 "Boleto Validator - Support "convenio" and return which partial is wrong"
This issue propose 2 features:

1) Add support for "convenio" in "boleto" validator, since it related formatter ([`format-boleto`](https://github.com/brazilian-utils/brazilian-utils/tree/master/packages/format-boleto)) supports "convenio"

2) Returns which partial is wrong in [`is-valid-boleto`](https://github.com/brazilian-utils/brazilian-utils/tree/master/packages/is-valid-boleto). To avoid brea

[2019-10-25 13:04] renatoagds commented on #55
cc/ @hyanmandian

[2019-10-29 12:13] hyanmandian commented on #55
Hello @renatoagds, we are working in a fork project to refactoring the entire project and we plan to create 2 separated functions for that: `format-bank-slip` and `format-covenant` (I really don't know if these are the best names for that functions). If you need to format both cases, you can just compose these functions (or maybe we can create another function for that).

About `is-valid-boleto`,

[2019-12-20 22:58] ramonornela commented on #29
@vhfmag some planning to publish new version in the npm?

[2019-12-20 23:10] hyanmandian commented on #29
Yes @ramonornela , in the next release we going to publish next version of brazilian-utils. You can check our work in #63 . Fell free to contribute and help us to migrate all missing packages to new structure.

[2020-01-13 17:32] hyanmandian commented on #55
Hey @renatoagds can you check *next* branch and confirm if we fixed your issue?

[2020-01-13 17:35] hyanmandian commented on #28
Já temos a função de format do processo jurídico (estamos chamando de judicial-process). Queria ver se tem alguém esta tocando a função de validação dela... Caso não tenha, alguém ta afim de assumir essa feature?

[2020-01-13 17:37] hyanmandian commented on #40
Hey, we publish our first RC of the next version of our package today :D.  Can you check if our typings are exported correctly?

https://www.npmjs.com/package/@brazilian-utils/brazilian-utils

[2020-01-13 18:17] renatoagds commented on #55
@hyanmandian for sure! will test today and let you know.

[2020-01-14 02:14] renatoagds commented on #55
@hyanmandian Confirming that's not the expected.

1) The `next` branch doesn't include support for `convenio`, in `format` and `isValid` (this is actually a regression, since `format` in `master` supports `convenio`).

2) The current `isValid` for `boleto` doesn't return which block is wrong, it only returns false/true.

Can I help with the requested features in next?

[2020-01-14 12:04] hyanmandian commented on #55
Yes, I can help! What you think to add a second param to "config" the expected return? Something like:

[code]

I think that is better because we don't break our current API and it's work for all packages we have.

[2020-01-14 12:10] hyanmandian commented on #55
About `convenio` I think we need to create another package to do that and another package to format and validate `boleto` and `convenio` together, something like `isValidBoletoCovenant` or `isValidBoletoConvenio` and don't know a good name for `convenio` :(

[2020-01-14 21:48] renatoagds commented on #55
That's exactly what I was thinking about it, since I put the same idea in issue description. We could call this new param `options` maybe.

Why do you think this is necessary? That's some case that wouldn't use `convenio`? I think we could split the internal logic between `convenio` and conventional `boleto`, but in the final package, it should be exposed just one function, that detects if starts

[2020-01-15 12:15] hyanmandian commented on #55
I think is better to have 3 packages: `boleto`, `convenio` and `boletoOrConvenio` (we need to think in better names, ok? HahahHAh). In that way, we cover all use cases, what you think?

[2020-01-15 12:21] hyanmandian commented on #23
In v1 (current) we simplify the project structure and I think we don't have this issue anymore.

[2020-01-15 12:21] #23 closed

[2020-01-15 12:26] hyanmandian commented on #40
I did this example to show typings working in v1 version (current) https://codesandbox.io/s/brazilian-utils-typescript-example-6fhmt

[2020-01-15 12:26] #40 closed

[2020-01-15 12:26] hyanmandian commented on #15
Done! Now we have a website: http://brazilian-utils.com.br/

[2020-01-15 12:26] #15 closed

[2020-01-17 03:34] rafaeelaudibert commented on #28
Se o @felipediogo não estiver em cima disso, posso contribuir com a validação :D

[2020-01-18 01:52] renatoagds commented on #55
Sounds good! 🚀

[2020-03-24 05:20] greenkeeper[bot] opened #79 "An in-range update of lint-staged is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `10.0.8` to `10.0.9`.

🚨 [View failing branch](https://github.com/brazilian-utils/brazilian-utils/c

[2020-03-25 12:51] #79 closed

[2020-04-22 13:33] linconkusunoki opened #82 "Brazilian states"
What do you guys think about functions to handle the Brazilian states?

something like:
- Get all states
- Find a specific state

where this could be applied?
- Select a state
- Show a state by its code

[code]

[2020-04-22 14:58] hyanmandian commented on #82
Hi @linconkusunoki , awesome idea! We already have states info [here](https://github.com/brazilian-utils/brazilian-utils/blob/master/src/common/states.ts) (missing full state name, but we can add) and we just need to expose this. About "find a specific state", who uses this info should implement your search logic.

What do you think?

[2020-04-22 16:28] linconkusunoki commented on #82
awesome @hyanmandian! It'll be very helpful to have the states available.
I think that makes sense only to expose the data and let the developers implement the logic :)

[2020-04-30 18:02] nolleto commented on #82
Hey, I just create the PR with this method (`getStates`). Can you check if everything is alright? 😄

[2020-05-05 13:28] hyanmandian commented on #82
Closed by #85

[2020-05-05 13:28] #82 closed

[2020-05-11 21:20] arantespp opened #87 "Brazilian cities"
Related to #82, is it a good idea to create a method that returns all Brazilian cities?

We may create a script that gets all cities from [IBGE API](https://servicodados.ibge.gov.br/api/docs/localidades?versao=1#api-Microrregioes-estadosUFMicrorregioesGet), for instance, and saves them in a JSON. This way is easier to update cities.

[2020-05-12 02:40] hyanmandian commented on #87
Good idea! We just need to test if our tree shaking works as expected because if don't, we will have an issue related with our bundle size :(

[2020-05-12 08:38] arantespp commented on #87
I see. I'm testing here the size of the JSON and saving only the cities name will increase 100k of the bundle size. Is this a reasonable value when importing `getCities`?

Also, how about we create an SDK for IBGE API inside brazilian-utils?

[2020-05-12 13:04] hyanmandian commented on #87
Yes, I think the size is not a problem when just increase this size when importing `getCities`, we just need to test if this happens. About IBGE API, I think that's is out of our scope :(

Hey @andreoav what you think about that?

[2020-05-12 18:44] arantespp commented on #87
Great! I'll submit a PR with `getCities` to check if the three shaking works fine.

[2020-05-15 01:00] felipediogo commented on #28
@rafaeelaudibert  acabei fazendo o pull-request, se quiseres fazer o code-review é super bem vindo.

#88

cc. @hyanmandian

[2020-05-15 01:02] felipediogo commented on #28
Inclusive tem que adicionar as funções de isValidPJ e formatPJ na documentação.

[2020-05-31 21:37] svjr opened #91 "i would like suggest add the function of electronic invoice"
Hello,

First, I would like to congratulate this idea of project! Nice!

I would like suggest add the function of electronic invoice.

Based on the 44-character code of an electronic key, to create one function to idnetify the type of document, for example:

Link: https://www.oobj.com.br/bc/article/como-%C3%A9-formada-a-chave-de-acesso-de-uma-nf-e-nfc-e-de-um-ct-e-e-um-mdf-e-281.html

[2020-06-06 05:10] hyanmandian commented on #91
Hello @svjr. I'm happy with your feedback, thanks!

About your idea, I really don't know what is it, I'm tried to read and I didn't understand to much... Can you explain your idea to us? I think that we can discuss and do something from that.

[2020-06-06 05:14] hyanmandian commented on #87
Hello @arantespp, you need some help to that? I'm really liked your idea about `getCities`.

[2020-06-06 11:51] svjr commented on #91
Hello hyanmandian!

So, in Brazil I fear the electronic invoice composed of 44 characters. There is a rule for the formation of each part of this character set.
See the example:

51080701212344000127550010000000981364112281
(02 digits) *** State code (UF) of the issuer
(04 digits) *** Year and month of issue of the NF-e (in AAMM format)
(14 digits) *** CNPJ of the NF-e issuer (CNPJ of your company

[2020-06-06 13:00] arantespp commented on #87
@hyanmandian Hey! I'm so sorry, the last days were very busy. Now I get some time and I'll work in the first version of `getCities`. I'll create a PR just for testing the bundle size, ok? If it works, we think about creating a filter for states.

[2020-06-06 13:45] svjr commented on #91
hyanmandian,

I developed the nf utility for the project ...
it finds in my repository, if it finds it pertinent, it can trigger a pull request.

[https://github.com/svjr/brazilian-utils/tree/master/src/utilities/nf](url)

[2020-06-06 19:08] hyanmandian commented on #91
Wow! Nice @svjr! I saw your fork and what awesome job! Please, do a pull request, we appreciate your contribution.

[2020-06-07 18:09] hyanmandian commented on #87
Closed by #92

[2020-06-07 18:09] #87 closed

[2020-06-17 20:14] rodmirsantana opened #96 "Not able to use getCities method"
Hey guys, I'm trying to use the ``getCities`` method but I'm getting:
``Uncaught TypeError: (0 , _brazilianUtils.getCities) is not a function`` error on the console. I installed the lib using ``yarn`` and I'm importing it in my ``js`` file as below. What could be the issue?

[code]

[2020-06-17 21:31] hyanmandian commented on #96
Sorry about that @rodmirsantana, I will publish a new version with this method right now! Just sec...

[2020-06-17 21:47] hyanmandian commented on #96
I published version `1.0.0-rc.8`. I think that now you just need to update our package in your project. Again, sorry about that, I forgot to publish the latest feature merged :(

Can you check and tell us if it works?

[2020-06-17 21:50] hyanmandian commented on #96
I tested here and I discovered that we forgot to expose this internal method, just sec...

[2020-06-18 11:09] rodmirsantana commented on #96
@hyanmandian I tried both ``yarn add @brazilian-utils/brazilian-utils`` and ``npm install @brazilian-utils/brazilian-utils``, but still got version ``1.0.0-rc.7``. Can you double-check please?

[2020-06-18 12:55] hyanmandian commented on #96
Please, try again. I updated the latest tag on NPM right now. You can check here: https://www.npmjs.com/package/@brazilian-utils/brazilian-utils (just click on version).

[2020-06-18 13:44] rodmirsantana commented on #96
I've tried here and managed to update now! Thank you.

[2020-06-18 14:30] #96 closed

[2020-07-06 18:09] silvioprog opened #97 "[FEATURE REQUEST] isValidPhone(type) instead of isValidPhone()"
Hi.

It would be nice to allow to validade a phone number by its type, for example:

[code]

or maybe providing separated functions, like `isValidPhone()` and `isValidMobilePhone()`.

cheers

[2020-07-06 18:59] hyanmandian commented on #97
Hello @silvioprog , nice idea! I think that we should keep `isValidPhone` validating both` mobile phone` and `landline phone` and create another 2 utilities:` isValidLandlinePhone `and` isValidMobilePhone` to validate each type separatly. In that way, we don't break our current API: D

What do you think about that?

[2020-07-07 13:16] silvioprog commented on #97
Hello @hyanmandian, `isValidLandlinePhone()` and `isValidMobilePhone()` sounds very good, I totally agree with them. 😃

I'm excited with `brazillian-utils`, this is really a awesome project. Thank you for maintaining it! 😄

[2020-07-07 13:24] hyanmandian commented on #97
Thanks! I don't have time right now to implement these utilities (maybe next week), but you can contribute with our project if you feel comfortable with that.

[2020-07-07 14:11] silvioprog commented on #97
@hyanmandian Great! So, i'm going to fork this repo and try to implement it to send as PR ...

[2020-07-09 16:22] hyanmandian commented on #97
closed by #98

[2020-07-09 16:22] #97 closed

[2020-07-17 14:52] silvioprog opened #99 "[FEATURE REQUEST] New function: capitalize()"
Hi.

It would be nice to provide some function like this:

[code]

cheers

[2020-07-17 19:03] silvioprog commented on #99
Awesome! ^^

I'll try it and send as new PR ASAP ...

[2020-07-18 05:22] silvioprog commented on #99
Sent as PR https://github.com/brazilian-utils/brazilian-utils/pull/100.

[2020-07-27 23:18] hyanmandian commented on #99
Closed by #101

[2020-07-27 23:18] #99 closed

[2020-07-28 15:58] rfoel opened #107 "Major release"
When is this package leaving RC?

[2020-07-28 17:09] hyanmandian commented on #107
Maybe this week we publish v1.

[2020-07-28 18:48] hyanmandian commented on #107
I just reopen to help us to focus on this release. Thanks for reminding us!

[2020-07-29 00:46] andreoav opened #109 "Problem with getCities on Node 10"
The `getCities` function calls `Array.prototype.flat()` that is not available on Node 10.

I setup a Github Workflow that runs our tests using Node 10, 12 and 14... the Node 10 test fails.

https://github.com/brazilian-utils/brazilian-utils/actions/runs/186457250

[2020-07-29 00:51] andreoav opened #110 "Update README.md"
We need to update our README.md file before the 1.0 release.

[2020-07-29 17:22] hyanmandian opened #111 "[FEATURE REQUEST] Registry Office"
Sometimes banking applications need a way to select a civil registry office when you need to registry something in the B3. The Brazilian government has a CSV with available civil registry offices https://portal.mj.gov.br/CartorioInterConsulta/. So the idea here is to create a utility function (like `getCities` and `getStates`) called `getCivilRegistryOffices` with filters like `state` and `city` t

[2020-07-30 20:19] hyanmandian opened #112 "[FEATURE REQUEST] License Plate"
I really don't know if we have some rules to create Mercosul/Brazilian license plate, but I think that we should keep support for both (after 2024 we can drop Brazilian support since Brazil will only use Mercosul format).

[2020-07-31 04:01] silvioprog opened #113 "[FEATURE REQUEST] formatCurrency() / formatDecimal() / formatPercent()"
Hi.

What do you think about to declare those three functions? Something like:

[code]

cheers

<hr>

Useful naive examples for study:

[code]

References:

- https://www.freeformatter.com/brazil-standards-code-snippets.html
- https://pt.stackoverflow.com/a/186798/14540
- https://www.w3schools.com/jsref/jsref_tolocalestring_number.asp
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2020-08-01 15:06] igortupini commented on #112
A generator validator is fairly simple to implement and would be great to have. Today I'm using my own helpers to validate and generate Brazilian/Mercosul license plate.

[2020-08-03 17:46] #109 closed

[2020-08-07 17:07] hyanmandian opened #117 "[FIX] getCities"
Today `getCities` return just city name, but in Brazil, we have some cities with same name in different states... So I think that we should return `stateCode` and maybe `code` (IBGE id) in the returned data.

Something like that:

[code]

I know this change will break our API, but since we're still in RC, maybe it's not a big problem. What do you think about it @arantespp @andreoav ?

[2020-08-08 01:58] andreoav commented on #117
@hyanmandian RC should not introduce new breaking changes. I think it is better to deprecate the current API and introduce the new API as another helper.

[2020-08-24 11:07] linconkusunoki commented on #113
I think it's a good idea, one useful example is when we're working on React-Native env where we don't have the `toLocaleString` available.

Additionally, I would like to include another function to reverse the operation, something like `unformatCurrency`

[code]

[2020-08-24 14:25] hyanmandian commented on #113
Nice idea @linconkusunoki ! I just replace `unformatCurrency` to `parseCurrency`.

[2020-08-25 16:12] hyanmandian commented on #113
Closed by #132

[2020-08-25 16:12] #113 closed

[2020-08-25 16:18] hyanmandian commented on #111
Like conversation in #117 maybe this utility is out of our scope :(

[2020-08-25 16:18] #111 closed

[2020-08-25 18:30] arantespp commented on #117
Good point about the cities with the same name, but with a different state. I didn't consider this because I've never seen an usage of all cities together because it returns a huge amount of data. The application gets the state first and after the cities of the selected state.

About

are you talking about removing `getCities` @hyanmandian?

[2020-08-25 18:44] hyanmandian commented on #117
Yes @arantespp :( This util increase a lot of bytes in our library.

Look that: https://bundlephobia.com/result?p=@brazilian-utils/brazilian-utils@1.0.0-rc.6

Jumps from 18.3kb to 102.4kb

[2020-08-25 19:02] arantespp commented on #117
I see. Is the size huge even with tree shaking? About the project scope, if `getCities` not fit, I agree that the best is to remove it.

Make sense for the project to create a package called `@brazilian-utils/cities`?

[2020-08-26 13:43] hyanmandian commented on #117
Yes, even with tree shaking we have a problem because today our tree shaking is not so good :(

I think that we have 2 ways to fix that, the first and easier to do is just remove that function, another way is fixing our tree shaking and maybe create a babel-plugin to remove from our users the knowledge of how to handle with that, for example:

Today we import something like that: `import { isValid

[2020-08-26 17:05] arantespp commented on #117
I didn't know that the cities name changed a lot. So it's better remove `getCities` by now, because it fits better with BrasilAPI.

[2020-09-08 17:07] linconkusunoki opened #146 "[feature-request] Add formatPhone"
I think it's a good idea to have the ability to format phones (landline and mobile)

as we already have the validators (`isValidMobilePhone` and `isValidLandlinePhone`),
we could also have the formaters (`formatMobilePhone` and `formatLandlinePhone`)

or

just have `formatPhone` that check if it's mobile or landline and apply the correct mask

[2020-09-09 15:18] hyanmandian commented on #146
Nice idea @linconkusunoki ! I think these functions fit with our scope and we could have `formatPhone`, `formatMobilePhone` and `formatLandlinePhone`. Would you like to do these functions?

[2020-09-10 12:36] pedrohram commented on #110
Hello, there!

I can help to improve the docs if you mantainers are OK with that.

[2020-09-10 18:41] linconkusunoki commented on #146
Sure! I'll be working on this on the next days 😀

[2020-09-16 09:15] linconkusunoki commented on #146
I was thinking about the functions, and I don't know what is the best approach, because there are cases where we'll need to have the country code, so it'll be something like `+55 11 98888-7777`. Besides that, we can have the parenthesis on the DDD, so a good function could be:

[code]

what do you guys think?

[2020-09-16 14:27] hyanmandian commented on #146
Nice thoughts @linconkusunoki . I think we can do the simple (but scalable) just receiving a phone number and formatting for the most common format in Brazil `(51) 99999-9999`. If you think that it should be more customizable, maybe receiving a second parameter (like you said) to remove parenthesis or to add country code (we don't need to change our country code because it always the same) can fit

[2020-09-29 17:49] pedrovsp commented on #28
Essa issue ainda está aberta? Pelo o que eu vi já foi aberto uma PR.

[2020-09-30 03:36] felipediogo commented on #28
@pedrovsp - Ela ainda está, oq falta é deixar o código mais legível. Infelizmente ando sem tempo e motivação para fazer essa mudança. Se quiseres ajudar eu ficaria muito feliz em fazer o code review, ou orientar caso precise.

[2020-09-30 19:31] pedrovsp commented on #28
@felipediogo - Vou criar uma nova branch então e fazer um pull da sua implementação, ok?

[2020-09-30 20:46] pedrovsp commented on #117
Should another issue be opened regarding the tree-shaking problem? This way we can proceed removing ```getCities```.

[2020-10-01 15:23] pedrovsp opened #157 "Improve class exports for better tree-shaking"
On the issue #117 , @hyanmandian suggested a change on the way we import our functions in order to improve the tree-shaking.

I opened this issue so we can better discuss how to proceed with this feature.

[2020-10-27 13:56] hyanmandian commented on #117
Nice idea @pedrovsp ! First, we need to deprecate this function with `// @deprecated ` annotation with the reason and maybe provide some alternative (like `@brazilian-utils/getCities` or something like that). After that, we can remove and increase the version.

Are you guys ok with that?

[2020-10-27 13:56] hyanmandian commented on #112
closed by @marceloabk

[2020-10-27 13:56] #112 closed

[2020-10-27 16:36] pedrovsp commented on #117
Yes, sounds good to me! Should another issue be opened regarding the creation of `@brazilian-utils/getCities`? Will it be a new repo inside the brazilian-utils organization?

[2020-11-01 03:36] saculbr commented on #157
The statement about an "better tree-shakable way to export" is not really true, with modern bundlers (since webpack 4.0, that as released in fev 2018) we can safely use named exports from main package file

The sideEffects: false in package.json inform bundlers that it is safe to remove unsed named exports

https://developers.google.com/web/fundamentals/performance/optimizing-javascript/tree-shaki

[2020-11-01 04:08] saculbr commented on #157
About Exports Analysis of [@brazilian-utils/brazilian-utils@1.0.0-rc.12](https://bundlephobia.com/result?p=@brazilian-utils/brazilian-utils@1.0.0-rc.12), they erroneously shows that using a single named export result in full bundle import, that is because they look form "multi entry" package, date-fns as example send the files unbundled ("multi entry"), which offers a better analysis of the bundle

[2020-11-01 04:23] saculbr commented on #117
I agree with moving cities to another package, because that will make the core utils much smaller when someone looks in bundlephobia

The "size" ins't really an issue, as I pointed in https://github.com/brazilian-utils/brazilian-utils/issues/157#issuecomment-720021547, but the majority of users will feel afraid after seeing the size of the whole package

[2020-11-03 14:39] hyanmandian commented on #157
WOWWW nice job @saculbr . This info that you share here, makes me think that we don't need to do anything in our project related to tree shaking. I will close this issue. Thanks @saculbr !

[2020-11-03 14:39] #157 closed

[2020-11-03 14:45] hyanmandian commented on #117
Nice thoughts in @saculbr ! I prefer `@brazilian-utils/cities`, as you said, makes more sense.

Since tree shaking works fine like @saculbr comments in #157 , I don't know if we need to spend more time discussing if we remove or not this function (because we can do it after some feedback from our users). For me, is better to just can fix the return as I mentioned in this issue.

What do you guys t

[2020-11-06 02:48] matheusho opened #171 "Validador de conta bancária"
Boa noite.

Gostaria de saber se pra vocês, incluir um validador de contras bancárias, para alguns bancos em que possuem esse padrão bem definido, é relevante.
Se sim, posso organizar o PR dessa funcionalidade.

Abaixo um PDF com todas as regras:
http://177.153.6.25/ercompany.com.br/boleto/laravel-boleto-master/manuais/Regras%20Validacao%20Conta%20Corrente%20VI_EPS.pdf

[2020-11-06 13:49] hyanmandian commented on #171
Ola @matheusho , achei muito boa a idéia! Como tu pensou em fazer a API dessa funcionalidade?

[2020-11-19 19:17] arthursakemi opened #173 "Credit Card Validator"
So, are you guys intrested, or have plans on implementing a credit card validator and issuer identifier?
If so, I would love to discuss and contribute. =D

[2020-12-07 14:24] hyanmandian commented on #173
Hello @arthursakemi and sorry for the delay. I think that's a good idea and fits with the project scope. What's your idea for the public API?

[2020-12-07 19:26] arantespp commented on #117
@hyanmandian how is the status of this issue? First will we deprecated the API and after creating `@brazilian-utils/cities` if `code` and `stateCode`?

[2020-12-07 19:36] hyanmandian commented on #117
We just need to decide what we should do. At first, I thought that deprecate this function and create another package make sense, but after @morhogg discovered in #157 that the tree shake works fine, I think we can just improve the current behavior to what I've suggested in this issue and finally publish v1 with a note in the changelog explaning about the API changes.

[2020-12-07 19:43] arantespp commented on #117
Does this mean that we change the `getCities` return values instead of creating a `getCitiesV2`?

[2020-12-07 19:44] hyanmandian commented on #117
Yes.. What do you think about it?

[2020-12-07 19:47] hyanmandian commented on #117
Or we can do what @andreoav suggested. I know that this approach it's correct, but I would not like to do that :(

[2020-12-07 19:59] arantespp commented on #117
I prefer keeping `getCities`, but I don't know the strict rules of a package in an RC. If this package wasn't in RC, I'd agree with @andreoav.

@hyanmandian have you ever considered creating a method with a name like `getDetailedCities`?

[2020-12-07 20:00] HugoFortunato opened #181 "Add Yarn install to documentation"
## Description

Currently, the documentation only shows an installation with NPM. It'd be a good idea to add:

[code]
In my case, as I use the Yarn package manager, I had problems using the NPM Install directly. Some problems arose with nonexistent modules and types not found.
I had to delete node_modules and yarn.lock and then reinstall yarn to restore my project.

[2020-12-07 20:01] #181 closed

[2020-12-07 20:02] HugoFortunato opened #182 "Add Yarn install to documentation"
Currently, the documentation only shows an installation with NPM. It'd be a good idea to add:

yarn add @brazilian-utils/brasilizan-utils
In my case, as I use the Yarn package manager, I had problems using the NPM Install directly. Some problems arose with nonexistent modules and types not found.
I had to delete node_modules and yarn.lock and then reinstall yarn to restore my project.

[2020-12-07 20:02] #182 closed

[2020-12-07 20:03] HugoFortunato opened #183 "Add Yarn install to documentation"
## Description

Currently, the documentation only shows an installation with NPM. It'd be a good idea to add:

[code]

In my case, as I use the Yarn package manager, I had problems using the NPM Install directly. Some problems arose with nonexistent modules and types not found.
I had to delete node_modules and yarn.lock and then reinstall yarn to restore my project.

[2020-12-07 20:07] hyanmandian commented on #117
Because today `getCities` (without the state) returns the wrong data and can cause issues. For example, in the current project that I work on, we replace `getCities` with a call for internal API because we need more data. I know that `getCities(state)` (with the state) return the right data, but I think that this behavior is so confusing and makes trouble in the future.

[2020-12-07 20:08] hyanmandian commented on #183
Nice idea! Can you help us adding this info to our docs?

[2020-12-07 20:15] HugoFortunato commented on #183
For sure! I will do a PR! Ok?

[2020-12-07 20:17] arantespp commented on #117
Make sense. I'd go for keeping the `getCities` name.

[2020-12-07 20:19] hyanmandian commented on #183
Yes, go ahead!

[2020-12-07 20:22] hyanmandian commented on #117
@arantespp can you help us to fix `getCities`? (I can do that, but right now I'm entering on a little vacation and I prefer to stay away from any code during that time...)

[2020-12-07 21:06] arantespp commented on #117
I'll do that ;)

[2020-12-08 14:44] silvioprog opened #186 "[FEATURE REQUEST] Add formatLandlinePhone()/formatMobilePhone()/formatPhone()"
Hi.

It would be nice to provide the following format functions:

- `formatLandlinePhone(landlinePhone: string): string` - Formats a landline phone, e.g.: `9999999999` → `(99) 9999-9999`;
- `formatMobilePhone(mobilePhone: string): string` - Formats a mobile phone, e.g.: `99999999999` → `(99) 99999-9999`;
- `formatPhone(phone: string): string` - Formats a landline or mobile phone, e.g.: `9999999999

[2020-12-08 14:56] hyanmandian commented on #186
Hello @silvioprog , maybe #155 solve your problem. What do you think? If not, we can split this function in three like you suggested.

[2020-12-08 15:17] silvioprog commented on #186
Hello @hyanmandian, I'm going to test it, but a quickly look at the sources it seems will work like a charm. 😃

Maybe a split would be nice to avoid overheads when the programmer wants to format only one type (eg: mobile phone) .

[2020-12-09 14:16] hyanmandian commented on #186
What do you think to implement these functions in #155 ? If you need some help, I can help you with that.

[2021-02-16 19:48] Isaius commented on #117
I don't know if this still up or if its already done, since its from last year. I think its a good idea.

[2021-04-07 19:25] hyanmandian commented on #117
Hello @Isaius sorry for the delay :( . Right now I don't have much time to focus on current issues. If you know how to improve that, please, be comfortable contributing.

[2021-05-12 13:06] mateusbw commented on #171
Gostaria de trabalhar nessa issue.

[2021-05-12 17:03] matheusho commented on #171
Oi @mateusbw Acabei me enrolando aqui com troca de empregos. Pode sim, se puder te ajudar em algo, me dá um toque.

[2021-05-15 18:19] rdsedmundo opened #223 "Adicionar gerador de CPF/CNPJ"
Útil para testes.

[2021-05-17 16:50] hyanmandian commented on #223
Olá @rdsedmundo tudo bem? Já possuimos esses geradores, você pode conferir aqui: [CPF](https://github.com/brazilian-utils/brazilian-utils/blob/main/src/utilities/cpf/index.ts#L52) e [CNPJ](https://github.com/brazilian-utils/brazilian-utils/blob/main/src/utilities/cnpj/index.ts#L57).

Pelo que vi, não adicionamos eles na documentação oficial, mas caso queira nos ajudar, sinta-se a vontade para cont

[2021-05-26 13:46] tbfreitas commented on #223
Olá @hyanmandian , gostaria de fazer essa documentação.
Ou vocês já estão trabalhando sobre esse aspecto ?

[2021-05-26 14:53] hyanmandian commented on #223
@tbfreitas sinta-se a vontade! seria incrivel termos a sua contribuição!

[2021-05-27 17:41] hyanmandian commented on #223
Resolvido #226

[2021-05-27 17:41] #223 closed

[2021-06-09 18:26] lucascarrias opened #239 "[Feature request] Get "boleto" information from digitable line"
The "boleto"'s digitable line has some information about the charge, for example:

* Expiration date
* Charge Value
* Associate Bank code
* Currency code

With that considered, I suggest that we should create a single function to get all values as bellow:

[code]

An alternative feature is to create functions to get each "boleto" information:

[code]

Reference:
[Campos dos boletos e linha digitáv

[2021-06-10 17:54] lucascarrias opened #240 "[Documentation] Group utilities by category"
At brazilian-utils site, All utilities are listed together without grouping by utility group/category, e.g CPF utilities, Boletos utilities and so on. Grouping the categories can make the navigation easier.

As you can see bellow, this is the current sidebar:
![image](https://user-images.githubusercontent.com/24925816/121571882-f0dd3280-c9f9-11eb-9130-0206109b06bc.png)

One suggestion is just to a

[2021-06-10 17:58] LucasCarrias commented on #183
How is the status of this request?
I think this can be considered to be added with #110 update.

[2021-06-10 18:20] hyanmandian commented on #240
Nice idea @LucasCarrias , we just need to confirm if Docsify have support for that, can you help us with that?

[2021-06-10 18:23] hyanmandian commented on #239
I like your suggestion! Can you help us to create this function? I think `getBoletoInfo` it's a good name for that.

[2021-06-10 18:27] hyanmandian commented on #183
Can you help us with that @LucasCarrias ?

[2021-06-10 18:29] LucasCarrias commented on #183
@hyanmandian Sure! I'll add that on #110 update.

[2021-06-10 19:46] LucasCarrias opened #241 "ReferenceError on Travis CI Build (Node 11.x)"
I'm getting the following error at the Node v11 Travis CI build:

[code]

This error seems to be triggered by the `prettier --write ./src/common/cities.ts` call.

One possible workaround is to update the [.travis.yml](https://github.com/brazilian-utils/brazilian-utils/blob/main/.travis.yml) Node build versions to the same versions as the GitHub's Workflows [build.yml](https://github.com/brazilian-

[2021-06-11 14:26] lucascarrias opened #244 "Create CONTRIBUTING.md"

[2021-06-11 15:29] hyanmandian commented on #241
Closed by #242

[2021-06-11 15:29] #241 closed

[2021-06-15 16:34] hyanmandian commented on #183
Closed by #247

[2021-06-15 16:34] #183 closed

[2021-06-15 16:53] hyanmandian commented on #240
What do you think @LucasCarrias of something like this?

![image](https://user-images.githubusercontent.com/5044101/122092969-ee575000-cde0-11eb-8a51-f2b4ab3f3002.png)

[2021-06-15 16:55] hyanmandian commented on #240
We can enjoy that we going to change the docs and change sections names for something like that:

CPF -> Validate
CPF -> Generate
CPF -> Format

[2021-06-15 19:35] LucasCarrias commented on #240
@hyanmandian That looks pretty good! I really liked the grouping.

However, I'm not quite sure if changing the function name by its action name is a common pattern in documentations. At least, thinking about docs like [date-fns](https://date-fns.org/v2.22.1/docs/daysToWeeks) and [lodash](https://lodash.com/docs/4.17.15).

That is just an impression that I'm bringing into discussion. Besides that,

[2021-10-02 18:25] 4devs-net-br commented on #223
https://4devs.net.br/gerador-cpf

[2021-10-10 02:58] jadsongmatos opened #271 "inteligência artificial"
[https://storage.googleapis.com/tfjs-examples/date-conversion-attention/dist/index.html](https://storage.googleapis.com/tfjs-examples/date-conversion-attention/dist/index.html)
achei essa demonstração muito legal achei seria interessante se tivesse algo semelhante pra cpf e outras coisas

[2021-10-13 03:00] hyanmandian commented on #271
Ótima idéia, seria tipo um "format" inteligente que formata qualquer coisa. Eu só vejo alguns problemas... Talvez ele fique bem "pesado" e não seja tão útil na vida real (apesar de ser mt legal n precisar se preucupar com qual formatador usar) pois geralmente a pessoa sabe o tipo do conteúdo que vai ser formatado. Teriamos que estudar mais sobre sua API, seus casos de uso etc pra ver se valeria a

[2021-10-13 21:12] Slender1808 commented on #271
acho que poderia começar com tentando classificar dois dados

[2021-10-13 22:15] jadsongmatos opened #273 "Abreviação"
seria muito legal se função de abreviação exemplo 1000 virar 1 mil ou 60s virar 1m

[2021-10-20 21:14] Slender1808 commented on #273
Eu já fiz algo parecido pra outro projeto, estou vendo como posso aplicar para.
Seria legal também fazer documentação com vários exemplos, até pra servir de norte pro codigo

[2022-04-12 16:59] aq-simei commented on #244
I would like  to take this Issue, is this  one still available?

[2022-07-15 17:52] ropoko opened #320 "Retornar endereço pelo CEP"
Acho que é bem comum ter que descobrir a localização através do CEP e creio que a gente possa fazer utilizando uma API como a do [ViaCEP](https://viacep.com.br/), por exemplo.

Estou disposto a fazer uma PR depois, caso considerem essa ideia bacana

[2022-07-15 17:53] murillo-nahas opened #321 "Formatar número de telefone"
Vi que possuem sobre validação de número de telefone, seria interessante também adicionar um formatador... só uma sugestão

[2022-08-23 20:11] pedroota commented on #321
Pode descrever um pouco melhor? O que você quis dizer com "formatador"?

[2022-08-23 20:12] pedroota commented on #321
Pode descrever um pouco melhor? O que você quis dizer com "formatador"?

[2022-08-24 18:13] murillo-nahas commented on #321
Somente um formatador, tipo você escrever no input e ele já ir formatando automaticamente para um formato de telefone.
Por exemplo: CPF do NgBrazil

[2022-10-12 14:02] jorgebrunetto commented on #273
Já foi feito? Vou fazer aqui

[2022-10-12 14:51] hyanmandian commented on #273
Não foi feito não, pode dale @jorgebrunetto

[2022-10-17 15:00] #107 closed